<!DOCTYPE html>
{% extends 'AppTwo/base_template.html' %}
{% block title %}
USERS
{% endblock title %}

{% block css %}

  <style media="screen">
    table {
      margin-top:50px;
    }
    td, th {
      text-align:center;
    }
  </style>

  {% endblock css %}

  {% block body %}
    <div class="container">
      <div class="jumbotron">
        <h1>Here are your users:</h1>
        </div>

    <table class="table table-striped table-bordered">
      <tr>
        <thead>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
        </thead>
      </tr>
      {% for entry in users %}
        {% if entry.is_staff == False %}
          <tr>
            <!-- <td>{{snum}}</td> -->
            <td>{{entry.first_name}}</td>
            <td>{{entry.last_name}}</td>
            <td>{{entry.email}}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
<!-- </div> -->
</div>
  {% endblock body %}
